# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# SQLite database
*.db
*.sqlite
*.sqlite3

# Environment variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/